{{#section "head"}}
  <script src="javascript/index.js" defer></script>
{{/section}}

<main>
  <a id="connect" href="/oauth2/authorize?response_type=code&client_id=c7d9e3d7-53fc-5daf-acdf-5bc8334378a7&redirect_uri=%2F">Connect</a>
</main>