{{#section "head"}}
  <script src="https://cdn.jsdelivr.net/npm/base64-js@1.3.0/base64js.min.js" integrity="sha256-6Nq3ERANZFF5/7q3A7vSDHKttstfHieUf5+eFo9W4I0=" crossorigin="anonymous"></script>
  <script src="javascript/index.js" defer></script>
{{/section}}

<main>
  <a id="connect" href="/oauth2/authorize?response_type=code&client_id=c7d9e3d7-53fc-5daf-acdf-5bc8334378a7&redirect_uri=%2F">Connect</a>
</main>