{{#section "head"}}
  <script src="javascript/index.js" defer></script>
{{/section}}

<main>
  <form id="login" novalidate>
    <div class="form-group">
      <label for="login-name">Email or username</label>
      <input id="login-name" type="text" required>
      <p class="invalid-feedback">Please enter an email or username.</p>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" minlength="3" maxlength="128" required>
      <p class="invalid-feedback">Please enter a password between 3 and 128 characters long.</p>
    </div>

    <p id="login-feedback" class="invalid-feedback">
      Invalid username, email, or password.
    </p>

    <button type="submit">Log in</button>
  </form>
</main>